## Assignment 2 : Calculating expected returns of a stock and developing a function for the calculation of expected returns

The **weekly price data** for Apple Inc. (AAPL) was gathered from *Yahoo Finance*.

**Questions for this assignment:**  
Part A : Calculate the annual expected return, conditional on weekly returns data.  
Part B : Extend the getExpectedReturns function created in the video to incorporate computations of Expected Returns using weekly data AND daily data.

In [1]:
import pandas as pd

### Part A of the assignment

In [2]:
apple = pd.read_csv("Assignment_2\AAPL_Jan2000_to_Dec2007.csv")
apple = apple[['Date', 'Adj Close']]
apple.rename(columns={'Date' : 'date', 'Adj Close' : 'price_t'}, inplace=True)
apple['returns'] = apple['price_t'].pct_change(1)
apple

           date   price_t   returns
0    2000-01-01  0.759592       NaN
1    2000-01-08  0.766748  0.009421
2    2000-01-15  0.849770  0.108278
3    2000-01-22  0.775814 -0.087031
4    2000-01-29  0.824482  0.062732
..          ...       ...       ...
413  2007-12-01  5.933213  0.066293
414  2007-12-08  5.813816 -0.020123
415  2007-12-15  5.921306  0.018489
416  2007-12-22  6.102080  0.030529
417  2007-12-29       NaN  0.000000

[418 rows x 3 columns]

In [7]:
expected_weekly_return = apple['returns'].mean()
expected_weekly_return

0.007345533151818172

In [8]:
# Crude return assuming 50 weeks in a year
expected_annual_return = expected_weekly_return * 50
expected_annual_return

0.3672766575909086

In [9]:
# Sophisticated return assuming 50 weeks in a year
expected_annual_return = ((1 + expected_weekly_return) ** 50) - 1
expected_annual_return

0.4418605174934569

### Part B of the assignment

In [10]:
 def getExpectedReturns(df, price_col_name, frequency='daily', annualised=True, annualise_method='sophisticated'):
    """
    Returns the expected return (weekly/daily) of a stock given price data.
    """
    returns = df[price_col_name].pct_change(1)

    expected_return = returns.mean()
    
    if annualised:
        if annualise_method == 'sophisticated':
            if frequency == 'weekly':
                expected_return_annual = ((1 + expected_return) ** 50)  - 1
            elif frequency == 'daily':
                expected_return_annual = ((1 + expected_return) ** 250)  - 1
        elif annualise_method == 'crude':
            if frequency == 'weekly':
                expected_return_annual = expected_return * 50
            elif frequency == 'daily':
                expected_return_annual = expected_return * 250
            
        return expected_return_annual
    
    else:
        return expected_return

In [12]:
getExpectedReturns(apple, 'price_t' , frequency='weekly', annualise_method='sophisticated')

0.4418605174934569