## Assignment 4: Calculating Variance and Standard Deviation (Volatility) of a Stock.

The daily stock data for Apple Inc. (AAPL) was obtained from *Yahoo Finance*.  
  
### Questions for this assignment
1. Using data you obtained from the previous assignment (for the stock you chose), compute your stock's daily variance and standard deviation.
2. Estimate your stock's annualised standard deviation.

In [1]:
import pandas as pd
import numpy as np

In [2]:
apple = pd.read_csv('AAPL_Daily_2000_to_2007.csv')
apple = apple[['Date', 'Adj Close']]
apple.rename(columns={'Date' : 'date', 'Adj Close' : 'price_t'}, inplace = True)
apple['returns'] = apple['price_t'].pct_change(1)
apple.set_index('date', inplace = True)
apple

             price_t   returns
date
2000-01-03  0.854541       NaN
2000-01-04  0.782494 -0.084311
2000-01-05  0.793945  0.014634
2000-01-06  0.725238 -0.086539
2000-01-07  0.759592  0.047369
...              ...       ...
2007-12-21  5.921304  0.035788
2007-12-24  6.070626  0.025218
2007-12-26  6.075208  0.000755
2007-12-27  6.063604 -0.001910
2007-12-28  6.102079  0.006345

[2009 rows x 2 columns]

### Part 1 of the Assignment

In [3]:
# Daily variance
var_aapl = np.var(apple['returns'], ddof=1)
var_aapl

0.0010573775782543584

In [4]:
# Daily standard deviation (volatility)
std_aapl = np.std(apple['returns'], ddof=1)
std_aapl

0.032517342730523945

### Part 2 of the Assignment

In [5]:
# Annualised standard deviation
annual_std_aapl = std_aapl * np.sqrt(250)
annual_std_aapl

0.5141443324238726